* {
    margin: 0;
    padding: 0;
    font-family: 'Chivo', sans-serif;
    text-decoration: none;
}
.head-sec {
    height: 85px;
    background: transparent;
    position: absolute;
    width: 100%;
}
.head {
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo {
    width: 180px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: none;
    border-radius: 20px 0 20px 0;
    border-bottom: 4px solid #F30BF3;
    border-top: 4px solid #F30BF3;
}
.navlinks {
    max-width: 700px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navlinks>a {
    font-size: 22px;
    padding: 20px;
    color: #fff;
}
.navlinks>a:hover {
    padding: 20px;
    background: #F30BF3;
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.home-img {
    background: url("margi.png") no-repeat;
    width: 100%;
    height: 900px;
    background-size: contain;
    background-position: center;
}
.home-content {
    color: #fff;
}
.home-content>h1 {
    font-size: 72px;
    font-weight: bold;
}
.home-content>p {
    font-size: 22px;
    margin: 30px auto;
}
.home-content>a {
    width: 200px;
    height: 60px;
    background: #fff;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.sec-bg {
    background: url("bg-img-compressed.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}