*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.fd {
    display: flex;
}
.fdc {
    flex-direction: column;
}
.fac {
    align-items: center;
}
.fjc {
    justify-content: center;
}
.fjsb {
    justify-content: space-between;
}
header {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 90px;
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.container {
    max-width: 1224px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 20px;
}
.logo {
    background: url("/Images/my.jpg") no-repeat center;
    background-size: cover;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.email i,.mobile i {
    border: 2px solid #288cbe;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #288cbe;
    margin-right: 20px;
    margin-left: 20px;
}
.email p,.mobile p {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
.line {
	width: 30px;
	height: 2px;
	margin: 10px 0;
	background-color: #fff;
}
.menu-toggle:hover {
	cursor: pointer;
}
.contact-group .logo {
    display: none;
}

/*section1*/
.section-one,.section-two {
    padding-top: 100px;
    height: 100vh;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-container {
    cursor: pointer;
    height: 450px;
    perspective: 600;
    position: relative;
    width: 450px;
}
.cardss {
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    width: 100%;
}
.cardss:hover {
    transform: rotateY(180deg);
}
.cardss .side {
    backface-visibility: hidden;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;
}
.fronts {
    background-color: #288cbe;
}
.my-dps {
    background: url("/Images/logo-v1.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.my-lab {
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.cardss .back {
    background: #eaeaed;
    color: #0087cc;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.back h1 {
    margin-bottom: 20px;
    border-bottom: 1px solid #288cbe;
}
.back p {
    font-size: 18px;
    margin-bottom: 10px;
}
.back p b {
    margin-right: 20px;
}
.nextarrow {
    background: url("/Images/right-arrow.svg") no-repeat center;
    background-size: contain;
    width: 28px;
    height: 28px;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}
.skills {
    width: 800px;
}
.skill-set {
    margin-bottom: 5px;
}
.skill-line {
    width: 500px;
    height: 10px;
    border-radius: 10px;
    background-color: #eee;
    position: relative;
}
.skill-bar {
    width: 450px;
    height: 10px;
    border-radius: 10px;
    background-color: #288cbe;
    position: absolute;
    left: 0;
    top: 0;
}
.css {
    width: 450px;
}
.sass,.bootstrap {
    width: 400px;
}
.js,.jquery {
    width: 370px;
}
.react,.db {
    width: 375px;
}
.node,.exp {
    width: 360px;
}
.skill-set label {
    font-size: 18px;
    color: #fff;
    margin-bottom: 4px;
}
.card {
    background-color: #288cbe;
    height: 300px;
    width: 200px;
    padding: 10px;
    position: relative;
}
.card-img i {
    font-size: 120px;
    display: flex;
    justify-content: center;
    height: 250px;
    color: #fff;
}
.name {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.name h1 {
    text-align: center;
}
.section-three {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pro-list {
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(4,1fr);
    -ms-grid-columns: repeat(4,1fr);
    padding-top: 40px;
    padding-bottom: 40px;
}
.pro-list a {
    margin-right: 10px;
    border: 1px solid #fff;
    padding: 10px;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #fff 50%,
    #fff);
    background-position: 100% 0;
    background-size: 200% 100%;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
.pro-list a:hover {
    background-position: 0 0;
    color: #fff;
}
.pro-img {
    background: url("/Images/tutorsbotLogo.svg") no-repeat center;
    background-size: contain;
    width: 200px;
    height: 50px;
}
.ops {
    background-image: url("/Images/opseazylogo.svg");
}
.tini {
    background-image: url("/Images/tinilogo.png");
}
.edz {
    background-image: url("/Images/blue-logo.svg");
}
.section-three .container h1 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}



/*mobile responsive*/
@media only screen and (max-width: 1023px) {
    header {
        height: 100vh;
        position: inherit;
    }
    header .container {
        flex-direction: column;
        justify-content: center;
    }
    .contact-group .two-grp {
        flex-direction: column;
    }
    .email,.mobile {
        margin-bottom: 20px;
    }
    .email i,.mobile i {
        width: 40px;
        height: 40px;
        font-size: 16px;
        margin-left: 0;
    }
    .email p,.mobile p {
        font-size: 16px;
    }
    .contact-group .logo {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
        border: 4px solid #288cbe;
    }
    .logo-group .logo {
        display: none;
    }
    .section-one {
        height: 100%;
        padding-top: 20px;
    }
    .section-two {
        padding-top: 0;
        height: 100%;
    }
    .pro-list a {
        margin-right: 0;
    }
    .section-one .container {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }
    .skill-line,.skills {
        width: 100%;
    }
    .skill-bar {
        width: 80%;
    }
    .card-container {
        width: 100%;
        height: 280px;
        margin-top: 40px;
    }
    .back h1 {
        font-size: 16px;
    }
    .back p {
        font-size: 14px;
    }
    .pro-list {
        grid-template-columns: repeat(1,1fr);
        -ms-grid-columns: repeat(1,1fr);
    }
}